body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.side {
  width: 30%;
  /* create more space or "centered" vertical effect */
}

.main-panel {
  width: 70%;
}

.ui.button.dark-blue {
  background-color: #264D59;
  color: white
}
